elpa/
eln-cache/
package-quickstart.el*

auto-save-list/
eshell/
org-persist/
saves/
server/
transient/
tutorial/
url/
ido.last*
recentf
bookmarks
projects
projectile-bookmarks.eld
tramp
history
smex-items
.mc-lists.el

*.elc
*-autoloads.el